zmodule prompt-pwd
zmodule mfaerevaag/wd -s 'wd.plugin.zsh'
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule input
zmodule environment

zstyle ':zim:prompt-pwd' git-root yes
